# Logs
logs
*.log
npm-debug.log*

# Files
log.txt
# Dependency directories
node_modules/
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json