<!DOCTYPE html>
<html lang="en">

<!-- Inicio de head -->
<%- include('../partials/head') %>


    <body>
        <!-- Inicio de header -->
        <%- include('../partials/header') %>

            <!-- Inicio de main -->
            <main>
                <div class="box">

                    <div class="box-login">

                        <h2>Crear producto</h2>

                        <form action="/products" method="POST" >
                            <div class="email-box">
                                <label class="l-email" for="productName">Nombre del producto</label>
                                <input class="text-input" type="text" name="productName" id="productName" required
                                    placeholder="Escriba aquí el nombre de su producto">
                            </div>
                            <div class="email-box">
                                <label class="l-email" for="productDescription">Descripción del producto</label>
                                <textarea class="text-input" name="productDescription" id="productDescription" cols="30"
                                    rows="5" required placeholder="Escriba aquí su descripción del producto"></textarea>
                            </div>
                            <div class="email-box">
                                <label class="l-email" for="imgProduct">Cargar imagenes</label>
                                <input class="text-input" type="file" name="imgProduct" id="imgProduct">
                            </div>
                            
                            <%- include('../partials/category') %> 

                            <div class="email-box">
                                <label class="l-email" for="price">Precio</label>
                                <input class="text-input" type="text" name="price" id="price" required
                                    placeholder="Escriba aquí el precio">
                            </div>

                            <div class="email-box">
                                <label class="l-email" for="popular">Producto destacado<input type="checkbox" name="popular" id="popular"></label>
                            </div>

                            <input class="button-submit" type="submit" value="Guardar producto">
                        </form>


                    </div>
                </div>
            </main>

            <!-- Inicio del footer -->
            <%- include('../partials/footer.ejs') %>
    </body>


</html>