<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perisfericos Corsair</title>
    <script src="https://kit.fontawesome.com/f25a1c0806.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Inicio de header -->
    <header>
        <section class="flex__header">
            <div>
                <img src="/images/logo.png" alt="logo">
            </div>
            <div>
                <input type="search" name="Buscador" id="">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div>
                <button>Login<a href="login"></a></button>
                <i class="fas fa-shopping-cart"><a href="productDetail"></a></i>
            </div>
        </section>

        <!-- Inicio de NavBar -->
        <section>
            <nav>
                <ul>
                    <li><a href="#"></a> Productos</li>
                    <li><a href="#"></a> Nosotros</li>
                    <li><a href="#"></a> Contactos</li>
                </ul>
            </nav>
        </section>
    </header>

    <!-- Inicio de main -->
    <main>
        <!-- Inicio de Carousel -->
        <section>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
        </section>

        <!-- Productos a mostrar -->
        <section>
            <h2>Productos destacados</h2>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>
            <article>
                <div>
                    <img src="" alt="teclado">
                </div>
                <h3>Teclado k70</h3>
                <div>
                    <p>$6.770</p>
                    <i class="fas fa-shopping-cart"></i>
                    <button>Agregar</button>
                </div>
            </article>

            <!-- Section con ubicación -->
            <section>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jDU07ZtJiQo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
        </section>
    </main>

    <!-- Inicio del footer -->
    <footer>
        <div>
            <h3>Redes Sociales</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div>
            <h3>¿Quienes somos?</h3>
            <p>Somos los representantes de Corsair en Latam</p>
        </div>
        <div>
            <h3>Metodos de pagos</h3>
            <i class="far fa-credit-card"></i>
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div>
            <img src="" alt="logo">
            <p>Copyright © 2021 PerisfericosCorsair S.R.L</p>
            <p>Av. 9 de Julio s/n, C1043 CABA</p>
        </div>
    </footer>
</body>

</html>