<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Perisfericos login</title>
</head>
<body>

    <div class="box-login">
        <a href="/"><img src="/images/logo.png" alt="Corsair logo"></a>

        <h2>
            Iniciar sesión
        </h2>

        <form action="">
            <div class="email-box">
                <label for="user-email">Correo</label>
                <input type="email" name="user-email" id="user-email" required placeholder="Escriba aquí su correo">
            </div>
    
            <div class="password">
                <label for="user-password">Contraseña</label>
                <a href="/passwordRecovery">¿Olvidaste tu contraseña?</a>
                <input type="password" name="user-password" id="user-password" required placeholder="Ingrese su contraseña">
            </div>
    
            <input type="submit" value="Inciar sesión">
        </form>

        <h5>¿Eres un usuario nuevo? <a href="/signUp">Crear cuenta</a></h5>

    </div>
    
</body>
</html>