

.wrap{
	width: 100%;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.tarjeta{
	width: 300px;
	height: 350px;
	background: #F29720;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	border-radius: 8px;
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 8px;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	align-content: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
	background:#cfa701;
	

}


.fa-linkedin{
	font-size: 30px;
	color: #0a66c2;
	margin-right: 6px;
}
.fa-github{
	font-size: 30px;
	margin-left: 6px;
}



.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url("../images/about/about1.jfif");
	background-size: cover;
	
}

.card2{
	background-image: url("../images/about/about2.jfif");
	background-size: cover;
	
}

.card3{
	background-image: url("../images/about/about3.jpeg");
	background-size: cover;
	background-color: #90958e;
	
}

 @media (min-width: 768px) {
	 .tarjeta-wrap{
		 width: 30%;
 }}
