* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.box-cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box-resumen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: solid red 1px;
}

.similar-items {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 15px 0;
    text-align: center;
}

.similar-items a {
    text-decoration: none;
    color: black;
    width: 22%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    max-width: 300px;
}

.similar-items a img {
    border-radius: 10px;
    width: 45%;
}

.details{
    width: 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    /* border-radius: 10px; */
    padding: 5px;
    margin-top: 10px;
    /* background-color: #fff; */
    border: none;
    border-radius: 55px;
    background: #fff;
    box-shadow:  23px 23px 52px #d1d1d1,
                -23px -23px 52px #ffffff;
}

h1{
    align-self: center;
    text-align: center;
}

h3 {
    align-self: center;
    font-size: 30px;
    padding: 10px;
    width: 90%;
}

h4{
    margin: 15px 0;
}

p{
    font-size: 20px;
}

.continuar{
    cursor: pointer;
    width: 50%;
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 8px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  4px 4px 8px #bababa,
                -4px -4px 8px #ffffff;
    transition: all 450ms;
    color: gray;
    text-align: center;
    align-self: center;
}

.continuar:hover {
    background: linear-gradient(145deg, #ffe400, #e6c000);
    color: #fff;
}

.item-details p {
    text-align: justify;
    padding: 0 15;
    width: 80%;
    margin: auto;
}

.add-item{
    margin-bottom: 12px;
    background-color: #ffd500;
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 5px;
}

.img-prod-cart{
    width: 25%;
    align-self: center;
}

.product-image img {
    width: 100%;
    max-width: 480px;
}

.specifications {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

.specifications img {
    width: 100%;
    margin-bottom: 5px;
}

.specifications p, .specifications h3 {
    width: 100%;
    text-align: center;
}

@media (min-width: 426px) {
    .specifications img {
        width: 30%;
        max-width: 600px;
    }
    
    .specifications p {
        width: 45%;
        text-align: justify;
    }
}


@media (min-width:769px){
    .item {
        max-width: 1150px;
        flex-direction: row;
        justify-content: space-around;
    }

    .product-image {
        width: 45%;
    }

    .item-details {
        width: 45%;
    }

    .similar-items {
        display: flex;
    }

    .similar-items a {
        transition: all 450ms;
        position: relative;
        z-index: 10;
    }

    .similar-items a:hover {
        transform: scale(1.05, 1.05);
    }

    .add-item {
        background-color: white;
        border: 1px solid #ffd500;
        color: #c7a602;
        transition: 0.5s;
    }

    .add-item:hover {
        background-color: #ffd500;
        color: white;
        border-radius: 0.5rem;
    }

}