<!DOCTYPE html>
<html lang="en">
<!-- Inicio de head -->
<%- include('./partials/head') %>

    <body>
        <!-- Inicio de header -->
        <%- include('./partials/header') %>

            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>Hola, soy Mario Martinez y formé parte del proyecto Corsair Oficial presentado para
                                DigitalHouse</p>
                            <div class="flex__iconos">
                                <a href="https://www.linkedin.com/in/mario-mtz/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/soymariomtz" target="_blank"><i
                                        class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card2"></div>
                        <div class="atras">
                            <p>Hola, soy Joaquin Somoza y formé parte del proyecto Corsair Oficial presentado para
                                DigitalHouse</p>
                            <div>
                                <a href="https://www.linkedin.com/in/joaquin-somoza-4b0541213/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/JoaquinSomoza" target="_blank"><i
                                        class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card3"></div>
                        <div class="atras">
                            <p>Hola, soy Samuel Estrada y formé parte del proyecto Corsair Oficial presentado para
                                DigitalHouse</p>
                            <div>
                                <a href="https://www.linkedin.com/in/samuel-yair-estrada/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/SamuelEstradaO" target="_blank"><i
                                        class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Inicio del footer -->
            <%- include('./partials/footer.ejs') %>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
    </body>

</html>