<div class="email-box">
    <label>Categorías</label>
    <% categorias.forEach(categoria => { %>
        <label class="l-email"><input type="radio"  name="category" id="<%= categoria %>" value="<%= categoria %>"> <%= categoria %></label>
    <% }); %> 
</div>