<footer class="flexFooter">
    <div>
        <h3>Redes Sociales</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/CorsairLATAM" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/corsair/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/CORSAIR" target="_blank"><i class=" fab fa-twitter"></i></a>
            </li>
        </ul>
    </div>
    <div>
        <h3>¿Quienes somos?</h3>
        <p>Somos los representantes de Corsair en Latam</p>
    </div>
    <div>
        <h3>Metodos de pagos</h3>
        <div class="footer__flex--pagos">
            <i class="far fa-credit-card"></i>
            <i class="fas fa-dollar-sign"></i>
        </div>
    </div>
    <div>
        <div class="footer__flex--img">
            <img src="/images/logo.png" width="100" alt="logo" />
        </div>
        <p>Copyright © 2021 PerisfericosCorsair S.R.L</p>
        <p>Av. 9 de Julio s/n, C1043 CABA</p>
    </div>
</footer>