<header>
  <section class="flex__header--768px">
    <div>
      <a href="/"><img class="logo" src="/images/corsair-logo.svg" alt="logo" /></a>
    </div>
    <div class="flex__header">
      <form method="GET" action="/products/search" class="search__header">
        <input class="form-control" type="search" name="product" id="" />
        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <div class="header__loginCart">
        <% if(locals && locals.user){ %>
          <a href="/users/edit/<%= user.id %> ">
            <img class="img__perfil--header" src="/images/users/<%= user.userImage %>" alt="<%= user.userImage %>">
          </a>
          <a href="/users/logout"> <button class="btn">Logout</button></a>
          <% }else{ %>
            <a href="/users/login">
              <button class="btn">Login</button><i class="fas fa-user"></i>
            </a>
            <a href="/users/register">
              <button class="btn">Register</button><i class="fas fa-address-book"></i>
            </a>
            <% } %>
              <a href="/products/cart"><i class="fas fa-dolly"></i></a>
      </div>
    </div>
  </section>

  <!-- Inicio de NavBar -->
  <section>
    <nav>
      <ul>
        <li><a href="/products">Todos los productos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
    </nav>
  </section>
</header>