<article class="article__hover">
    <a href="/products/detail">
        <div>
            <img class="article1" src=<%= producto.img %> alt="teclado" />
        </div>
        <h3> <%= producto.titulo %></h3>
        <div class="article_description">
            <p>$<%= producto.precio%></p>
    </a>
    <button class="btn">Agregar<i class="fas fa-dolly d-inline"></i></button>
    </div>
</article>