<div class="similar-items">
    <h3>Productos similares</h3>
    <% for(let i=0; i < 4; i++){ %>
        <a href="/products/productDetail">
            <img src="/images/auricular1.jpg" alt="" />
            <div class="details">
                <h5>Auricular Void Elite</h5>
                <p>$19.000</p>
            </div>
        </a>
    <% } %>

</div>