<!DOCTYPE html>
<html lang="en">

<!-- Inicio del head -->
<%- include('../partials/head') %>

    <body>
        <!-- Inicio de header -->
        <%- include('../partials/header') %>

            <!-- Inicio de div principal -->
            <div class="box">
                <!-- <a class="logo-container" href="/"><img class="logo" src="/images/corsair-logo.svg"
                        alt="Corsair logo"></a> -->
                <div class="box-login">

                    <h2>Iniciar sesión</h2>

                    <form action="">
                        <div class="email-box">
                            <label class="l-email" for="user-email">Correo</label>
                            <input class="text-input" type="email" name="user-email" id="user-email" required
                                placeholder="Escriba aquí su correo">
                        </div>

                        <div class="password-box">
                            <label class="l-password" for="user-password">Contraseña</label>
                            <a href="/passwordRecovery">¿Olvidaste tu contraseña?</a>
                            <input class="text-input" type="password" name="user-password" id="user-password" required
                                placeholder="Ingrese su contraseña">
                        </div>

                        <div class="keep-login">
                            <label><input type="checkbox" name="remember-me" id="remember-me">Mantener sesión
                                iniciada</label>
                        </div>

                        <input class="button-submit" type="submit" value="Inciar sesión">
                    </form>

                    <p class="new-user">¿Eres un usuario nuevo? <a href="/users/register">Crear cuenta</a></p>
                </div>
            </div>

            <!-- Inicio del footer -->
            <%- include('../partials/footer.ejs') %>
    </body>

</html>