<!DOCTYPE html>
<html lang="en">

<!-- Inicio del head -->
<%- include('../partials/head') %>

    <body>
        <!-- Inicio de header -->
        <%- include('../partials/header') %>

            <!-- Inicio del div principal -->
            <div class="box">
                <!-- <a class="logo-container" href="/"><img class="logo" src="/images/corsair-logo.svg"
                        alt="Corsair logo"></a> -->
                <div class="box-register">

                    <h2>Crear cuenta</h2>

                    <form action="">

                        <div class="full-name">

                            <div class="name">
                                <label class="l-name" for="user-name">Nombre(s)</label>
                                <input class="text-input" type="text" name="user-name" id="user-name" required
                                    placeholder="Escriba su nombre(s)">
                            </div>

                            <div class="last-name">
                                <label class="l-name" for="user-last-name">Apellido</label>
                                <input class="text-input" type="text" name="user-last-name" id="user-last-name" required
                                    placeholder="Escriba su apellido">
                            </div>

                        </div>
                        <div class="email-box">
                            <label class="l-email" for="user-email">Correo</label>
                            <input class="text-input" type="email" name="user-email" id="user-email" required
                                placeholder="Escriba aquí su correo">
                        </div>

                        <div class="password-box">
                            <label class="l-password" for="user-password">Contraseña</label>
                            <input class="text-input" type="password" name="user-password" id="user-password" required
                                placeholder="Ingrese su contraseña">
                        </div>

                        <div class="confirm-password-box">
                            <label class="l-password" for="confirm-user-password">Confirmar contraseña</label>
                            <input class="text-input" type="password" name="confirm-user-password"
                                id="confirm-user-password" required placeholder="Vuelva a ingresar su contraseña">
                        </div>

                        <input class="button-submit" type="submit" value="Crear cuenta">
                    </form>

                    <a class="login" href="/users/login">¿Ya tienes una cuenta?</a>
                </div>
            </div>

            <!-- Inicio del footer -->
            <%- include('../partials/footer.ejs') %>
    </body>

</html>